<h4>List of images <button type="submit" class="btn btn-small btn-info" onclick="reloadImages()">Refresh</button></h4>
<table id="imageTable" class="table table-striped">
	<thead id="imageTableHeader">
		<tr>
			<td>Aliases</td>
			<td>Fingerprint</td>
			<td>Architecture</td>
			<td>Description</td>
			<td>Actions</td>
		</tr>
	</thead>
	<tbody id="imageTableData">
		{{#each this}}
		<tr id="row_{{fingerprint}}">
			<td id="alias">
				{{#each aliases}}<b>{{name}}&nbsp;
				<span id="deleteAlias" class="glyphicon glyphicon-remove" style="color: red" data-name="{{name}}" onclick="deleteAlias('{{name}}')"></span></b><br/>
				{{else}}
				<a href="#addAlias" id="btnAddAlias" class="btn btn-small btn-info" data-toggle="modal" data-target="#addAlias" data-fingerprint="{{fingerprint}}">Add Alias</a>
				{{/each}}
			</td>
			<td id="fingerprint"><b>{{fingerprint}}</b></td>
			<td id="arch">{{architecture}}</td>
			<td id="desc">{{description}}</td>
			<td id="actions">
				<a href="#" id="editContainer" style="color: blue" data-name="{{name}}" onclick="toggleEditState(event, this, '{{fingerprint}}')"><span class="glyphicon glyphicon-pencil"></span>&nbsp;EDIT</a>
				<a href="#" id="saveContainer" style="display: none; color: green" data-name="{{name}}" onclick="toggleEditState(event, this, '{{fingerprint}}')"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;SAVE</a>
			</td>
		</tr>
		{{else}}
		<tr><td colspan="5">No images found</td></tr>
		{{/each}}
	</tbody>
</table>