<h3>Server Info</h3>
<table id="serverInfoTable" class="table table-striped">
	<thead id="serverInfoTableHeader">
		<tr>
			<td>API</td>
			<td>Auth</td>
			<td>Config</td>
			<td>PID</td>
			<td>Driver</td>
			<td>Kernel</td>
			<td>Server</td>
			<td>Storage</td>
			<td>Public</td>
		</tr>
	</thead>
	<tbody id="serverInfoTableData">
		{{#each this}}
		<tr id="row_{{auth}}">
			<td id="api">{{apiVersion}}</td>
			<td id="auth">{{auth}}</td>
			<td id="config">{{config}}</td>
			<td id="pid">{{environment.server_pid}}</td>
			<td id="driver">{{environment.driver}}:{{environment.driver_version}}</td>
			<td id="kernel">{{environment.kernel}}:{{environment.kernel_version}}</td>
			<td id="server">{{environment.server}}:{{environment.server_version}}</td>
			<td id="storage">{{environment.storage}}:{{environment.storage_version}}</td>
			<td id="public">{{public}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
